{block title}Katalog feed čtečka{/block}
{block headerTitle}Čtečka katalogu{/block}
{block headerSmallTitle}{$feedUrl}{/block}

{block content}
<div class="grido">
    {control feedGridControl}
</div>
