{*{layout ../../FrontModule/Presenters/templates/@layout.latte}*}
{layout /var/www/html/devrun/devrun/app/modules/front-module/src/FrontModule/Presenters/templates/@layout.latte}

{block content}

{control productsControl}


